/* **************** page__suggestions ************* */
.page__suggestions  {
  margin-top: 50px;
}
.container_suggestions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.suggestions__header-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.suggestions__main-title {

}
.suggestions__main-title__strong {
  @include font($fontTTNormsProBold, 32px)
}
.suggestions__main-title__text  {
  @include font($fontTTNormsProRegular, 32px)
}
.suggestions__main-suptitle__text {
  margin-top: 20px;
  text-align: center;
  @include font($fontTTNormsProRegular, 16px)
}
.suggestions__grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 24px;
  max-width: 856px;
}
.suggestions__mini-block {
  display: flex;
  justify-content: space-between;
}
.suggestions__mini-block__body {
  padding: 24px 0px 24px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // height: 100%;
}
.suggestions__mini-block {
  background-color: #f7f7f7;;;
  overflow: hidden;
  border-radius: 20px;
}
.suggestions__block-flex__img {
  display: flex;
  justify-content: center;
  align-items: center;

}
.suggestions__block-img {
  position: relative;
  width: 154px;
  height: 194px;
}
.suggestions__block-img::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #ffff;
  top: 9px;
  right: -26px;
  width: 175px;
  height: 175px;
  border-radius: 50%;
}
.suggestions__block-img img {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  object-position: right
}
.suggestions__mini-block__title {
  @include font($fontTTNormsProBold, 21px);
}
.suggestions__mini-block__suptitle-block {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.suggestions__mini-block__suptitle {
  @include font($fontTTNormsProRegular, 16px);
  margin-top: 15px;
}
.suggestions__button {
  margin-top: 15px;
  max-width: 180px;
}

@media (max-width:768px) {
  .suggestions__main-title__strong {
    font-size: 22px;
  }
  .suggestions__main-title__text {
    text-align: center;
    font-size: 22px
  }
  .suggestions__mini-block__title {
    @include font($fontTTNormsProBold, 19px);
  }
  .suggestions__mini-block__suptitle {
    @include font($fontTTNormsProRegular, 14px);
  }
  .suggestions__grid  {
    grid-template-columns: 1fr;
    margin-top: 30px;
    grid-gap: 10px;

  }
  .suggestions__block-img {
    width: 134px;
    height: 174px;
  }
  .container_suggestions {
    padding: 0 10px;
  }
  .suggestions__block-img::after {
    // width: 165px;
    // height: 165px;
    right: -27px;
    top: 8px;
    width: 155px;
    height: 155px;

  }
}
